Link {
    color: #feba65;
    font-size: 13px;
}

.error-message {
    color: #feba65;
    text-align: center;
    padding: 20px;
}

.div-pass {
    margin-bottom: 10px;
}

.forgetPass {
    text-decoration: none;
    color: #feba65;
    font-size: 14px;
}